<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup> 
    	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="RutaBBDD" value="C:\rDocumentos\Documentos.db" />
		<add key="CuentaUso" value="prueba.proyecto.av@gmail.com"/>
		<add key="PassUso" value="Viernes18"/>
		<add key="TO" value="ccabaval@myuax.com"/>
		<add key="CO" value=""/>
		<add key="CC" value=""/>
	</appSettings>
</configuration>


